<!-- <ion-content class="sliderPage">
	<ion-slides  class="theme-bg" pager="true" [options]="slideOpts">
		<ion-slide>
			<ion-row>
				<ion-col size="12">
					<div class="slider-img">
						<img src="/assets/imgs/welcome-slider/slider-1.svg" alt=""/>
					</div>
				</ion-col>
				<ion-col size="12">
					<div class="slider-content">
						<h2>Manage All in one Place</h2>
					</div>
				</ion-col>
				<ion-col size="12">
					<ion-button size="small" href="login" href="login" color="white">skip</ion-button>
				</ion-col>
			</ion-row>
		</ion-slide>
		<ion-slide>
			<ion-row>
				<ion-col size="12">
					<div class="slider-img">
						<img src="/assets/imgs/welcome-slider/slider-2.svg" alt=""/>
					</div>
				</ion-col>
				<ion-col size="12">
					<div class="slider-content">
						<h2>Total HR Solutions</h2>
					</div>
				</ion-col>
				<ion-col size="12">
					<ion-button size="small" href="login" color="white">Continue</ion-button>
				</ion-col>
			</ion-row>
		</ion-slide>
	</ion-slides>
</ion-content> -->