<ion-header no-shadow>
	<ion-toolbar class="header" color="primary">
		<ion-title>Payment</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col>
			<div class="response-img">
				<img src="../../assets/imgs/success-icon.svg">
			</div>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<h1 class="ion-text-center"><strong>Order Successfully Done!!</strong></h1>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<div class="btn-panel">
				<ion-row>
					<ion-col>
						<ion-button href="order-license" class="btn" color="primary" expand="full" shape="round"><ion-icon name="cart"></ion-icon>Continue</ion-button>
					</ion-col>
				</ion-row>
			</div>
		</ion-col>
	</ion-row>
</ion-content>