.backpagebg{
	--background : var(--ion-color-grey)  !important;
}

.conclass{
    ion-label{
        font-size: 12px !important;
    }
    ion-item{
        --background: #ffffff !important;
        // --background: #ffffff !important;
    }
    img{
        width: 14% !important;
height: auto !important;
max-width: 14% !important
}
    }