<ion-tabs no-padding>
	<ion-tab-bar  no-padding slot="bottom">

		<ion-tab-button  no-padding tab="all-leads">
			<ion-icon name="contact"></ion-icon>
			<ion-label>All (M) Leads</ion-label>
		</ion-tab-button>
		<ion-tab-button  no-padding tab="enquiry-management">
			<ion-icon name="globe"></ion-icon>
			<ion-label>Website</ion-label>
		</ion-tab-button>
		<ion-tab-button  no-padding tab="reseller-management">
			<ion-icon name="contacts"></ion-icon>
			<ion-label>Reseller</ion-label>
		</ion-tab-button>
		<ion-tab-button  no-padding tab="my-leads">
			<ion-icon name="contact"></ion-icon>
			<ion-label>My Leads</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>