<ion-header no-shadow>
	<ion-toolbar class="header" color="primary">
		<ion-buttons slot="start" >
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Petty Cash</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
	<div class="block grey-bg">
		<div class="header-widget">
			<h6>Waiting for Approval: <strong> 5 </strong></h6>
		</div>
	</div>
</ion-header>

<ion-content class="list-page grey-bg">
	<div class="inner-content-wrapper">
		<div class="block">

			<ion-searchbar placeholder="Search"></ion-searchbar>

			<ion-card class="card">
				<ion-card-content>
					<ion-grid no-padding>
						<ion-row>
							<ion-col><ion-badge color="primary">PC37647</ion-badge> &nbsp;&nbsp;&nbsp; <ion-badge color="warning">Cal4Care SG</ion-badge></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Customer Name</p></ion-col>
							<ion-col><p><strong>JN</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Amount</p></ion-col>
							<ion-col><p><strong>$ 25</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Description</p></ion-col>
							<ion-col><p><strong>Hi, Petty cash credit amount from Casuarina Curry</strong></p></ion-col>
						</ion-row>
						<div class="cart-footer">
							<ion-row>
								<ion-col class="close"><ion-icon name="close"></ion-icon></ion-col>
								<ion-col class="view"> <ion-icon name="eye"></ion-icon></ion-col>
								<ion-col class="note"><ion-icon name="create"></ion-icon></ion-col>
								<ion-col class="approve"><ion-icon name="checkmark-circle"></ion-icon></ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card-content>
			</ion-card>

			<ion-card class="card">
				<ion-card-content>
					<ion-grid no-padding>
						<ion-row>
							<ion-col><ion-badge color="primary">PC37647</ion-badge> &nbsp;&nbsp;&nbsp; <ion-badge color="warning">Cal4Care SG</ion-badge></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Customer Name</p></ion-col>
							<ion-col><p><strong>JN</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Amount</p></ion-col>
							<ion-col><p><strong>$ 25</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Description</p></ion-col>
							<ion-col><p><strong>Hi, Petty cash credit amount from Casuarina Curry</strong></p></ion-col>
						</ion-row>
						<div class="cart-footer">
							<ion-row>
								<ion-col class="close"><ion-icon name="close"></ion-icon></ion-col>
								<ion-col class="view"> <ion-icon name="eye"></ion-icon></ion-col>
								<ion-col class="note"><ion-icon name="create"></ion-icon></ion-col>
								<ion-col class="approve"><ion-icon name="checkmark-circle"></ion-icon></ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card-content>
			</ion-card>
			
			<ion-card class="card approved">
				<ion-card-content>
					<ion-grid no-padding>
						<ion-row>
							<ion-col><ion-badge color="light">PC37620</ion-badge> &nbsp;&nbsp;&nbsp; <ion-badge color="light">Cal4Care SG</ion-badge></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Customer Name</p></ion-col>
							<ion-col><p><strong>JN</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Amount</p></ion-col>
							<ion-col><p><strong>$ 25</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Description</p></ion-col>
							<ion-col><p><strong>Hi, Petty cash credit amount from Casuarina Curry</strong></p></ion-col>
						</ion-row>
						<div class="cart-footer">
							<ion-row>
								<ion-col class="white-bg"> <ion-icon name="eye"></ion-icon></ion-col>
								<ion-col class="white-bg"><ion-icon name="create"></ion-icon></ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
</ion-content>