<ion-header no-shadow>
  <ion-toolbar align-title="center" class="header" color="primary">
    	<ion-buttons slot="start" >
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>Extension</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<div *ngIf="nodata" class="aligncenter">
  <img src="../../assets/imgs/norecord-new.png">
  <p>No Invoice Found</p>
</div>

<ion-content *ngIf="isdata" class="backpagebg">
  <ion-card style="background-color: white;">
    <ion-card-content>
      <!-- List of Text Items -->
      <ion-list>

        <!-- <ion-item color="white" style="width: 95%;">
          <ion-label style="font-size: 18px;font-weight: 600;"> Extn No </ion-label>
          <ion-label style="font-size: 18px;font-weight: 600;"> Extn Name </ion-label>
        </ion-item> -->

        <ion-item *ngFor="let ext of extnlist; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
          <ion-label style="max-width:100px;"><b class="extnbold">{{ext.extn_no}}</b><span class="extnno">Extn No
            </span></ion-label>
          <ion-label id="{{ext.extn_name_id}}"><b class="extnbold">{{ext.extn_name}}</b><span class="extnno">Extn Name
            </span></ion-label>
        </ion-item>


      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>