<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="menu-bg">
            <!-- <ion-buttons slot="start"> <ion-menu-button routerLink="/dashboard"> <img src="assets/imgs/person.png"></ion-menu-button> </ion-buttons> -->
            <div class="profile-img"> <ion-menu-button routerLink="/profile-details"><img style="width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
              background: white;
              max-width: 55px;
              border: 2px solid white;" src="{{imagess}}" alt=""> </ion-menu-button></div>
            <div class="profile-info ion-text-start text-sizes"><strong>{{apiservice.username}}</strong></div>
            <h6 class="text-sizes">{{customerCode}}</h6>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <!--   <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
             <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item> -->

            <ion-item (click)="goToTestPage()">
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/home_2.png">
              </div>
              <!-- <img  src="../../assets/imgs/new_menu/medal_1.png"> -->
              <!-- <ion-icon name="home"></ion-icon> -->
              <ion-label>
                Dashboard
              </ion-label>
            </ion-item>


            <ion-item routerLink="/newsevents">
              <!-- <img src="../../assets/imgs/menu/reseller.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/new_people.svg">
              </div>
              <ion-label>
                News Letter
              </ion-label>
            </ion-item>

            <ion-item *ngIf="renewal == 1" routerLink="/renewal">
              <!-- <img src="../../assets/imgs/menu/reseller.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/renewals.svg">
              </div>
              <ion-label>
                Renewal
              </ion-label>
            </ion-item>


            <ion-item *ngIf="gcc == 1"  routerLink="/gcc">
              <!-- <img src="../../assets/imgs/menu/reseller.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/gcc.svg">
              </div>
              <ion-label>
                IP Rule Allow
              </ion-label>
            </ion-item>


            <ion-item *ngIf="invoice == 1" routerLink="/invoice">
              <!-- <img src="../../assets/imgs/menu/quotation.svg"> -->
              <!-- <img class="testicon"  src="../../assets/imgs/new_menu/new_people.svg"> -->
              <!-- <ion-icon class="testicon" name="home"></ion-icon> -->

              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/doc.png">
              </div>

              <ion-label>
                Invoice
              </ion-label>
            </ion-item>




            <ion-item *ngIf="license == 1" routerLink="/license">
              <!-- <img src="../../assets/imgs/menu/reseller.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/new_medal.png">
              </div>
              <ion-label>
                License
              </ion-label>
            </ion-item>
<!-- 
            <ion-item  routerLink="/profile-details">
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/new_medal.png">
              </div>
              <ion-label>
                Profile Details
              </ion-label>
            </ion-item> -->

            <ion-item *ngIf="cxbuy == 1" routerLink="/order-license">
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/cart.png">
              </div>
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <ion-label>
                Buy 3CX
              </ion-label>
            </ion-item>

            <ion-item routerLink="/currency">
              <!-- <img src="../../assets/imgs/menu/dollar.png"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/dollar.png">
              </div>
              <ion-label>
                Currency / Contact
              </ion-label>
            </ion-item>

            <ion-item *ngIf="credit == 1" routerLink="/prepaid">
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/dollar_note.svg">
              </div>
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <ion-label>
                Prepaid Note
              </ion-label>
            </ion-item>

            <ion-item *ngIf="credit == 1" routerLink="/credit">
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/dollar_note.svg">
              </div>
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <ion-label>
                Credit Note
              </ion-label>
            </ion-item>

            <ion-item routerLink="/referral">
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/new_people.svg">
              </div>
              <!-- <img src="../../assets/imgs/new_menu/people.svg"> -->
              <!-- <ion-icon name="people"></ion-icon> -->
              <ion-label>
                Referral Note
              </ion-label>
            </ion-item>


            <ion-item *ngIf="credit == 1" routerLink="/support-ticket">
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/dollar_note.svg">
              </div>
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <ion-label>
                Support Ticket
              </ion-label>
            </ion-item>


            <!-- <ion-item *ngIf="projects == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Projects
              </ion-label>
            </ion-item>

            <ion-item *ngIf="phones == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Phones
              </ion-label>
            </ion-item> -->

            <!-- <ion-item *ngIf="leads == 1" routerLink="/all-leads"> -->
            <!-- <ion-item  routerLink="/all-lead-result">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Leads
              </ion-label>
            </ion-item> -->

            <!-- <ion-item *ngIf="reseller == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Reseller Price List
              </ion-label>
            </ion-item>

            <ion-item *ngIf="rma == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                RMA
              </ion-label>
            </ion-item> -->


            <ion-item *ngIf="calls == 1" routerLink="/call-history">
            <!-- <ion-item routerLink="/call-history"> -->
              <!-- <img src="../../assets/imgs/menu/home.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/phone-call.png">
              </div>
              <ion-label>
                Call History
              </ion-label>
            </ion-item>
            <!-- 
            <ion-item *ngIf="calls == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Call History PBX
              </ion-label>
            </ion-item>

            <ion-item *ngIf="calls == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Call History VS PBX
              </ion-label>
            </ion-item>

            <ion-item *ngIf="idd_price_list == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                IDD Price List
              </ion-label>
            </ion-item>

            <ion-item *ngIf="calltel == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Call4tel License
              </ion-label>
            </ion-item>

            <ion-item *ngIf="support_ticket == 1" routerLink="/referral">
              <img src="../../assets/imgs/menu/home.svg">
              <ion-label>
                Support Ticket
              </ion-label>
            </ion-item>             -->


           
            <ion-item routerLink="/app-settings">
              <!-- <img src="../../assets/imgs/menu/exit.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/settings.svg">
              </div>
              <ion-label>
                App settings
              </ion-label>
            </ion-item>
            
            <ion-item (click)="logout()">
              <!-- <img src="../../assets/imgs/menu/exit.svg"> -->
              <div class="testicon">
                <img class="images" src="../../assets/imgs/new_menu/logout.png">
              </div>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>

              <!-- <img src="../../assets/imgs/menu/exit.svg"> -->
              
              <div>
              <ion-label>
                <p style="text-align: center;color: #8c8888;">v0.0.2 (0.1.3) </p>
              </ion-label>
            </div>
            
            <!-- <h6 class="version-info">Version 1.0</h6> -->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="false" (click)="refresh()"></ion-router-outlet>
  </ion-split-pane>
</ion-app>