.center-title {
    text-align: center;
    margin: 15px;
}

.ion-color-warning {
    background: transparent;
}

.alert-radio-label.sc-ion-alert-ios{
	    white-space: normal !important;
}



.views{
    font-size:12px;
}