<ion-header no-shadow>
	<ion-toolbar class="header" color="primary">
		<ion-buttons slot="start" >
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Product</ion-title>
		<ion-buttons slot="end">
			<ion-button icon-only [routerLink]="['/global-search']">
				<ion-icon name="search"></ion-icon>
			</ion-button>
		 </ion-buttons>
		<ion-buttons slot="end">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="list-page grey-bg">
	<div class="inner-content-wrapper">
		<div class="block">
			<ion-searchbar placeholder="Search"></ion-searchbar>
			<ion-card class="card">
				<ion-card-content>
					<ion-grid no-padding>
						<ion-row>
							<ion-col><ion-badge color="primary">PR37625</ion-badge> &nbsp;&nbsp;&nbsp; <ion-badge color="warning">Cal4care SG</ion-badge></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Customer / Vendor</p></ion-col>
							<ion-col><p><strong>Mani-82986675</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Transactions Type</p></ion-col>
							<ion-col><p><strong>Product Issues</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Available</p></ion-col>
							<ion-col><p><strong>2</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Requested</p></ion-col>
							<ion-col><p><strong>1</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Balance</p></ion-col>
							<ion-col><p><strong>1</strong></p></ion-col>
						</ion-row>
						<div class="cart-footer">
							<ion-row>
								<ion-col class="view"><ion-icon name="eye"></ion-icon></ion-col>
								<ion-col class="note"><ion-icon name="create"></ion-icon></ion-col>
								<ion-col class="approve"><ion-icon name="checkmark-circle"></ion-icon></ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card-content>
			</ion-card>

			<ion-card class="card">
				<ion-card-content>
					<ion-grid no-padding>
						<ion-row>
							<ion-col><ion-badge color="primary">PR37625</ion-badge> &nbsp;&nbsp;&nbsp; <ion-badge color="warning">Cal4care SG</ion-badge></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Customer / Vendor</p></ion-col>
							<ion-col><p><strong>Mani-82986675</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Transactions Type</p></ion-col>
							<ion-col><p><strong>Product Issues</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Available</p></ion-col>
							<ion-col><p><strong>2</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Requested</p></ion-col>
							<ion-col><p><strong>1</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Balance</p></ion-col>
							<ion-col><p><strong>1</strong></p></ion-col>
						</ion-row>
						<div class="cart-footer">
							<ion-row>
								<ion-col class="view"><ion-icon name="eye"></ion-icon></ion-col>
								<ion-col class="note"><ion-icon name="create"></ion-icon></ion-col>
								<ion-col class="approve"><ion-icon name="checkmark-circle"></ion-icon></ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card-content>
			</ion-card>

			<ion-card class="card approved">
				<div class="total-count">15</div>
				<ion-card-content>
					<ion-grid no-padding>
						<ion-row>
							<ion-col><ion-badge color="light">PR37699</ion-badge> &nbsp;&nbsp;&nbsp; <ion-badge color="light">Cal4care SG</ion-badge></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Customer / Vendor</p></ion-col>
							<ion-col><p><strong>Mani-82986675</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Transactions Type</p></ion-col>
							<ion-col><p><strong>Product Issues</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Available</p></ion-col>
							<ion-col><p><strong>2</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Requested</p></ion-col>
							<ion-col><p><strong>1</strong></p></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><p>Balance</p></ion-col>
							<ion-col><p><strong>1</strong></p></ion-col>
						</ion-row>
						<div class="cart-footer">
							<ion-row>
								<ion-col class="view"><ion-icon name="eye"></ion-icon></ion-col>
								<ion-col class="note"><ion-icon name="create"></ion-icon></ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card-content>
			</ion-card>

		</div>
	</div>
</ion-content>