.form ion-item {
    margin-bottom: 10px;
}
ion-col.ios.hydrated {
    margin-bottom: 10px;
}
.form ion-item ion-select {
    height: 38px;
    padding: 10px;
}


ion-checkbox.form-control{
    width: 10%;
    height: 60%;
    top: 0px;
}

// ion-item.item{
//     box-shadow: none;
//     border: none;
// }