<!-- <ion-content  class="bg-image login no-scroll">
	<form  #form="ngForm" (ngSubmit)="login(form)">
		<ion-grid>
			<ion-row color="light" justify-content-center>
				<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
					<div text-center class="logo">
						<img src="../../assets/imgs/logo-white.png">
					</div>
					<div class="form-group">
						
						<ion-item>
							<ion-icon name="mail"></ion-icon>
							<ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
						</ion-item>
						
						<div class="btn-panel">
							<ion-row>
								<ion-col>
									<ion-button href="login" class="btn" color="light" expand="full" shape="round">Send Email</ion-button>
								</ion-col>
							</ion-row>
						</div>

						<div class="fl forgot-pwd" padding>
							<p routerLink="/login"><strong>Back to Login</strong></p>
						</div>

					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content> -->





<ion-content class="loginpage">
	<div class="colorlogo">

<div text-center class="logowhite">
						<img src="../../assets/imgs/logo-white.png">
					</div>

		</div>

<div class="logindiv">
	<form  #form="ngForm" (ngSubmit)="login(form)">
	<ion-row color="light" justify-content-center>
				<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
					<!-- <div text-center class="logo">
						<img src="../../assets/imgs/logo-white.png">
					</div> -->
					<div class="form-group">
						
						
							<ion-item>
							<ion-icon name="mail"></ion-icon>
							<ion-input  name="name" type="text" placeholder="Username" [(ngModel)]="forgotname" required></ion-input>
						</ion-item>
						
						<div class="btn-panel">
							<ion-row>
								<ion-col>
									<!-- <ion-button href="login" class="btn btnalign" color="" expand="full" shape="round">Send Email</ion-button> -->
									<ion-button type="submit" class="btn btnalign" color="" expand="full" shape="round" >Send Email</ion-button>
								</ion-col>
							</ion-row>
						</div>

					<div class="fl forgot-pwd" padding>
							<p (click)="backClicked()"><strong>Back to Login</strong></p>
						</div>

			</div>
				</ion-col>
			</ion-row>
		</form>
		</div>

</ion-content>