<ion-header no-shadow>
  <ion-toolbar align-title="center" class="header" color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goToTestPage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Account Manage</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backpagebg">

  <div class="contact" >
    <ion-card>

      <ion-card>
        <ion-item lines="none">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Account Manager Desk</ion-label>
        </ion-item>
      </ion-card>

    </ion-card>
    <ion-card>
      <ion-card>
        <ion-item lines="none">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Support Desk</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item lines="none">
          <ion-icon name="mail-open" slot="start"></ion-icon>
          <ion-label><a href="mailto:support@cal4care.com.sg">support@cal4care.com.sg</a></ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item lines="none">
          <ion-icon name="help-buoy" slot="start"></ion-icon>
          <ion-label>Support Portal : <a href="https://helpdesk.guru/"> Help Desk</a></ion-label>
        </ion-item>
      </ion-card>
    </ion-card>

  </div>
</ion-content>
