.table-col{
	padding: 8px;
    border-right: 1px white solid !important;
    border-bottom: 1px white solid !important;
    color: white;
    font-weight: 600;
	font-size: 13px;
	background-color: #ceca5d;
}
.table_key{
	// color:white;
	padding:8px;	
	font-size: 14px;
	font-weight: 600;
}

.backpagebg{
	--background : var(--ion-color-grey)  !important;
}

.cards{
background: white;
}


.tno_align{
    display: flex;
    /* height: 30px; */
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color:brown;

}

.dept_align{
    display: flex;
    /* height: 30px; */
    align-items: center;
    justify-content: center;
}


.table-head{
    // background: #1abb9c;
    background:#f0cd61;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}


.row-data{
    font-size:14px;
    border-bottom: 1px grey solid;
    padding: 10px;
    font-weight: 600;
    text-align: center;
}

.odd{
    background: #ffffff;
}
  .even{
    background: #ececec;
  }