.support-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #fca311;
}

.referral-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #2a9d8f;
}

.app-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #1cb4aa;
}
.payment_add-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #7678ed;
}

.renewal-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #ff70a6;
}

.invoice-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #dd4bcb;
}

.payment_made-bg{
    width: 40px;
    height: 40px;
    /* line-height: 30px; */
    border-radius: 50%;
    /* color: var(--ion-color-light); */
    /* float: left; */
    /* text-align: center; */
    /* font-weight: var(--ion-bold-font-weight); */
    margin-top: 5px;
    background: #ff7f50;
}

.no-notify{
    font-weight: 700;
    color: #67afdc;
}
